/*------------------------------------------------------nav bar*/
.navbar-bran {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    margin: 0 6.5in 0 2.5in;
    padding: 10px 20px 10px 20px;
}


/*---------------------------------------------------------header*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: solid 1px #cccccc;
    margin-top: 17px;
    font-size: 27px;
}

/*------------------------------------------------header 3*/
h3 {
    position: relative;
    color: white;
    line-height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    height: 50px;
    bottom: 72px;
    width: 100%;
}

/*-----------------------------------------------------------body*/
body {
    background-image: url("../images/back.png");
}

/*-----------------------------------------------------------form*/
.form {
    display: block;
    margin: 5px 5px 5px 5px'

}

/*--------------------------------------background and border for main section*/
.m-sec {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px #dddddd solid;
    background-color: white;
    color: #777777;
    margin-top: 10px;
    padding: 10px 20px 10px 30px;
}

/*------------------------------------about me image*/
.wink {
    padding: .25rem;
    background-color: white;
    border: 1px solid #cccccc;
    max-width: 100%;
    height: auto;
}

/*----------------------------------------portfolio image*/
.port-img {
    width: 100%;
    margin: 40px 40px 40px 40px;
}

/*-----------------------------------about me*/
.aboot {
    margin: 10px 10px 10px 10px;
}

/*----------------------------------------img thumbnail*/
.img-thumbnail {
    width: 100%;
}



/*-------------------------------------footer*/
.foot {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #cccccc;
    background: #666666;
    border-top: solid 8px #4aaaa5;
    margin-top: 100px;
}

/*-----------------------------------------media*/
@media screen and (max-width: 992px) {
   
    body {
        width: 90%;
    }
    .m-sec {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        padding: 10px 20px 10px 30px;
    }
    .navbar-bran {
        margin: 0;
    }

    .port-img{
        width: 80%;
        height: 1000px;
    }
}


@media screen and (max-width: 768px) {
    .port-img{
        width: 80%;
        height: 1000px;
    }
    .m-sec {
    width: 80%;
    height: 1000px;
    }

    * {
        box-sizing: inherit;
    }
